.reserve {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.418);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rContainer {
	background-color: white;
	padding: 20px;
	position: relative;
}
.rClose {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.rItem {
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 20px;
}
.rInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.rTitle {
	font-weight: 600;
}
.rDesc {
	font-weight: 300;
}
.rMax {
	font-size: 12px;
}
.rPrice {
	font-weight: 600;
}
.rSelectRoom {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	font-size: 10px;
	color: gray;
}
.room {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rButton {
	width: 100%;
	background-color: #0071c2;
	padding: 10px 20px;
	color: white;
	font-weight: bold;
	padding: 10px 5px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 20px;
}

button:disabled {
	opacity: 0.5;
}
